<div class='container'>
  <div class='row'>
      <%= render partial: "shared/validation_errors", locals: { model: @request } %>
  </div>
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <div class='panel panel-default'>
        <div class="panel-heading">
          <h3 class="panel-title">Reset Your Password</h3>
        </div>
        <div class="panel-body">
          <%= form_for @request, url: forgot_password_path, html: {class: 'form-horizontal', role: 'form'} do |f| %>
        <fieldset>
          <div id='legend'>
            <p class='well well-sm'>
              If you have forgotten your password or simply want to change it, please provide your email address as well as the new password.
              After you have done this, you will receive an email asking you to confirm the change. That's all it takes.
            </p>
          </div>
          <div class='form-group'>
            <div class='controls col-lg-12'>
                <%= f.text_field :email, class: 'form-control', placeholder: 'Your email (AKA username)', autocomplete: 'off' %>
            </div>
          </div>
          <div class='form-group'>
            <div class='controls col-lg-12'>
                <%= f.password_field :password, class: 'form-control', placeholder: 'New password (at least 6 characters)', autocomplete: 'off' %>
            </div>
          </div>
          <div class='form-group'>
            <div class='controls col-lg-12'>
                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Type your new password again', autocomplete: 'off' %>
            </div>
          </div>
          <div class="form-group">
            <div class="controls col-lg-12">
              <button class="btn btn-success pull-right">Reset!</button>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
        </div>
      </div>
    <div class='col-md-3'></div>
  </div>
</div>