<%= content_for :head_css do %>
  <%= stylesheet_link_tag 'report_template' %>
<% end %>
<%= content_for :head_js do %>
  <%= javascript_include_tag 'report_template' %>
<% end %>
<div ng-app='ReportIt.report_template' ng-controller='NewReportTemplateController'>
  <%= render partial: 'single' %>
</div>